{% extends 'base.html' %}
{% block content %}
     <form method="POST">
        {% csrf_token %}
         <div class="box">
            <div class="field">
                {% for field in form %}
                    <div class="form-control">{{ field.label }} {{ field }}
                    </div>
                    <div>{{ field.errors }}</div>
                {% endfor %}
            </div>
           <button type="submit" class="btn btn-info">Salveaza</button>
         </div>
     <form>
{% endblock %}